<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
			<% if user_signed_in? %>
				<p><%= post.user_id %></p>
			<% end %>
			<p><%= post.body %></p>
    </li>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %>
